*{
    scroll-behavior: smooth;
}
.card-item:hover{
    opacity: 0.8;
}

.cart-counter{
    visibility: visible;
    position: relative;
    top: -5px;
    padding: 1px 7px;
    color: #FFF;
    height: 6px!important;
    width: 4px!important;
    background-color: #d14040;
    border-radius: 50%;
}

.borrar{
    cursor: pointer;
}


.titulo{
    font-size: 5rem;
    font-weight: 900;
}

.sub-titulo{
    font-size: 1rem;
    font-weight: 700;
}